PORT=5000
MONGO_URI = mongodb+srv://santoshsah5056_db_user:qciSKR58rqUcb25Q@studentmanagementdb.u9r6cdk.mongodb.net/?appName=StudentManagementDB
JWT_SECRET=student_management_forMeanStack_7th_semester
EMAIL_USER=santoshsah79804@gmail.com
EMAIL_PASSWORD=dtlklvteiqavnmfp
